*{
    padding: 0px;
    margin: 0px;
    overflow-y:hidden;
}

body{
  background-image: url(./imgs/Rectangle\ 1.png);
  background-size: 400px;
  background-repeat: repeat-y;
  background-position-x: right;
}


header{
    display: flex;
    height: 140px;
    
}
.logo-da-nike{
display: flex;
width: 118px;
height: 42px;
margin-top: 57px;
margin-left: 59px;
}
.setas{
    background-color: black;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 1100px;
    margin-top: -65px;
}
.number-setas{
    margin-left: 1000px;
    margin-top: -70px;
    font-size: 50px;
    margin-bottom: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 50px;
    margin-left: 1650px;
    margin-top: 70px;
    z-index: 1;

}

main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
   

}

.pontos{

    width: 20px;
    display:flex ;
    flex-direction: column;
    gap: 100px;
    margin-top: 120px;
    margin-left: 59px;
}
.desc-tenis{
   
    text-align: justify;
    margin-left: -90px;
    margin-top: 100px;
    height: 130px;
    width: 300px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    
}
.travessao{
 margin-top: 120px;
 margin-left: 200px;
 width: 300px;
 height: 3px;

 }
 .out-main{
     height: 100px;
     display: flex;
     margin-top: 70px;
     font-size: 61px;
     font-weight: 900;
     text-align: end;
     font-family: 'Oswald', sans-serif;

 }
 .texto-main{
     height: 100px;
     width: 800px;
     margin-top: 150px;
     margin-left: -400px;
     font-size: 61px;
     font-weight: 900;

 }
 .botao{
     color: white;
     background-color: black;
     width: 191px;
     height: 43px;
     margin-left: 138px;
     margin-top: -400px;
     font-family: 'Oswald', sans-serif;
 }
 .tenis{
    width: 983px;
    margin-top: -100px;
    margin-left: -360px;
   

 }
 .copyrigth{
     margin-top:230px;
     margin-left: 100px;
     font-family: 'Oswald', sans-serif;
     font-weight: 800;
     font-size: 30px;
 }
 
    
.retangulo-verde{
    transform: translateX(-50%);
    z-index: 1;
}



